.card {
  align-items: center;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.card img {
  border: 5px solid;
  border-radius: 24px 24px 0 0;
  height: 260px;
  width: 370px;
}

.card-btns {
  border: 5px solid;
  border-radius: 0 0 24px 24px;
  border-top: 0px;
  display: flex;
  flex-direction: row;
  font-family: 'Roboto', sans-serif;
  justify-content: space-evenly;
  width: 370px;
}

.card-btns svg {
  height: 30px;
  width: 30px;
}

.btn-card {
  font-size: 16px;
}