footer {
  align-self: center;
  background-color: #000;
  border-top: 4px solid #2271D1;
  bottom: 0;
  box-shadow: 0 5px 29px rgba(34, 113, 209, 0.7);
  display: flex;
  justify-content: space-around;
  padding-block: 24px;
  position: fixed;
  width: 100%;
}

footer nav {
  background-color: transparent;
  display: flex;
  gap: 64px;
}